API_PORT='8000'
DB_HOST='localhost'
DB_PORT='5432'
DB_NAME='licensing'
DB_USER='licensing'
DB_PASSWORD='secret123'
REDIS_URL='redis://localhost:6379'

# can be 'DEBUG', 'INFO', 'WARNING', 'ERROR', 'CRITICAL' see config.py
LOG_LEVEL='INFO'

# can be 'DEBUG', 'INFO', 'WARNING', 'ERROR', 'CRITICAL' see config.py
ENVIRONMENT='LOCAL_DEV'
